.electrique{
    margin-top: 5%;
    --background: url(../../assets/gcp.jpg) no-repeat 100% 100%;
}
.co{
    margin:auto;
    background-color: transparent;
}.ci{
    --background: none;
}
.reseaux{
    margin-top: 5%;
    --background: url(../../assets/gcr.jpg) no-repeat 100% 100%;
}
.civil{
    margin-top: 5%;
    --background: url(../../assets/gcv.jpg) no-repeat 100% 100%;
}