<ion-header>
  <ion-toolbar>
    <ion-title>departements</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

<ion-list >
   
    <ion-item class="electrique">
      <ion-list class="co">
        <ion-item class="ci">
          Electrique
        </ion-item>
        <ion-item class="ci">124 etudiants </ion-item>
      </ion-list>
    </ion-item>
    <ion-item class="reseaux">
      <ion-list class="co">
        <ion-item class="ci">
          Réseaux
        </ion-item>
        <ion-item class="ci">100 etudiants </ion-item>
      </ion-list>
    </ion-item>
    <ion-item class="civil">
      <ion-list class="co">
        <ion-item class="ci">
          Génie Civil
        </ion-item>
        <ion-item class="ci">89 etudiants </ion-item>
      </ion-list>
    </ion-item>
</ion-list>
</ion-content>
